{% extends 'base.html' %}

{% block content %}




<div class="row">
  <div class="col s12 m7">
    <div class="card medium">
      <div class="card-image">
        <img src="{{ technology.urlImage }}" alt="">

      </div>
      <div class="card-content">
        <p> {{technology.description}} </p>
      </div>
      <div class="card-action">
        <a href="{{ technology.url }}" target="_blank">Read Article</a>
      </div>
    </div>
  </div>
</div>
<div class="col s6">
  <!-- New Markup Below -->
  <form method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ reading_form.as_p }}
    <input type="submit" class="btn" value="Add Article">
  </form>
</div>


<script>
  const selectEl = document.getElementById('id_category');
  M.FormSelect.init(selectEl);
</script>


{% endblock %}
