{% extends 'base.html' %}

{% block content %}




<div class="row">
  <div class="col s12 m7">
    <div class="card medium">
      <div class="card-image">
        <img src="{{ technology.urlImage }}" alt="">

      </div>
      <div class="card-content">
        <p> {{technology.description}} </p>
      </div>
      <div class="card-action">
        <a href="{{ technology.url }}" target="_blank">Read Article</a>
      </div>
    </div>
  </div>
</div>
<div class="rating">
  <input value="star-1" name="star-radio" id="star-1" type="radio">
  <label for="star-1">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
        pathLength="360"></path>
    </svg>
  </label>
  <input value="star-1" name="star-radio" id="star-2" type="radio">
  <label for="star-2">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
        pathLength="360"></path>
    </svg>
  </label>
  <input value="star-1" name="star-radio" id="star-3" type="radio">
  <label for="star-3">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
        pathLength="360"></path>
    </svg>
  </label>
  <input value="star-1" name="star-radio" id="star-4" type="radio">
  <label for="star-4">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
        pathLength="360"></path>
    </svg>
  </label>
  <input value="star-1" name="star-radio" id="star-5" type="radio">
  <label for="star-5">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
        pathLength="360"></path>
    </svg>
  </label>
</div>
<div class="col s6">
  <!-- New Markup Below -->
  <form method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ reading_form.as_p }}
    <input type="submit" class="btn" value="Add Article">
  </form>
</div>


<script>
  const selectEl = document.getElementById('id_category');
  M.FormSelect.init(selectEl);
</script>


{% endblock %}
