{% extends 'base.html' %}

{% block content %}

<h1>Entertainment</h1>

{% for article in articles %}
<div class="row">
  <div class="col s12 m7">
    <div class="card medium">
      <div class="card-image">
        <img src="{{ article.urlImage }}" alt="">

      </div>
      <div class="card-content">
        <p> {{ article.title }} </p>
      </div>
      <div class="card-action">
        <a href="{{ article.url }}" target="_blank">Read Article</a>
      </div>
    </div>
  </div>
</div>




{% endfor %}

{% endblock %}
